.dg {
    z-index: 0;
}

.sliderW {
    width: 18%
}

#body-title {
    width: 50%
}

.infobarthing{
    display: block;
    position: absolute;
    left: 90%;
    bottom: 10px;
    color: white;
    font-size: 8px;
}

.x.slider-selection {
    background: #FF8282;
}

.x.slider-handle {
    background: red;
}

.y.slider-selection {
    background: #3a7b38;
}

.y.slider-handle {
    background: green;
}

.z.slider-selection {
    background: #8283FF;
}

.z.slider-handle {
    border-bottom-color: blue;
}

.slider:hover > * { opacity: 1 !important; } 

.dg {height: 100% !important}
